/* -------------------- Cabeçalho -------------------- */

header {
	background-image: url(../assets/img/fundo-header-4_6.png);
	overflow: hidden;
	top: 0px;
}

#inicio{
	display: flex;
	padding: 1.5vw;
	/*padding-left: 40px;
	padding-top: 20px;
	padding-right: 30px;
	padding-bottom: 15px;*/
}

#idCabeImg{
	width: 21vw;
	transition: 0.5s ease-in-out;
}

#divFaixa {
	background-color: rgb(118, 1, 19);
	height: 2vw;
	display: block;
	width: 100%;
	margin-top: -10px;
}

nav {
	display: inline-block;
	margin-left: auto;
	margin-top: auto;
}

.btnNav {
	text-decoration: none;
	font-family: lobster;
	font-size: 2.6vh;
	margin-left: 2.7vh;
	color: rgb(118, 1, 19);
	position: relative;
	transition: 0.7s ease-in-out;
}

#btnNavDestaque {
	background-color: rgba(72, 15, 24, 0.097);
	padding-top: 4px;
	padding-bottom: 4px;
	padding-left: 18px;
	padding-right: 18px;
	font-family: engebrechtre;
	text-decoration: none;
	font-size: 2.8vh;
	border-radius: 10px;
	margin-left: 2.8vh;
	border: 1px solid rgba(118, 1, 19);
	color: rgb(118, 1, 19);
	transition: 0.4s ease-in-out;
}


/*Animação da linha de baixo dos itens do menu superior no cabeçalho*/
nav .btnNav::after {
	content: " ";
	width: 0%;
	height: 2px;
	background-color: rgb(118, 1, 19);
	position: absolute;
	bottom: 0;
	left: 0;
	transition: 0.7s ease-in-out;
}

nav .btnNav:hover::after {
	width: 100%;
}


/* animação da logo */
#idCabeImg:hover {
	width: 24vw;
}


/*Animação do botão de entrar/ver perfil*/
#btnNavDestaque:hover {
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 19px;
	padding-right: 19px;
	font-size: 3vh;
	border: 2px solid rgba(118, 1, 19);
}

/*Fixa o cabeçalho no topo ao rolar*/
.fixoTopo{
	position: absolute;		
	z-index: 1;
	position: fixed;
	width: 100%;
}

/* TERMINAR CABEÇALHO FIXADO*/

/* -------------------- Fim Cabeçalho -------------------- */



/* ------------------------- Rodapé -------------------------*/

footer {
	margin-top: 100px;
	background-color: rgb(72, 15, 24);
	display: flex;
	color: white;
	overflow: hidden;
	margin-left: 0;
	margin-bottom: 0;
	margin-right: 0;
}

.rodapeInter{
	margin:1em;
	display: flex;
	width: 100%;
	flex-wrap: wrap-reverse;
}

footer h5 {
	margin-top: 0.5vw;
	margin-bottom: 0px;
}

#divNomeEquipe-RedesSociais {
	margin-left: auto;
	text-align: right;
	font-family: fancyPantsNF;
	letter-spacing: 5px;
	font-size: 1.3vw;
}

/* -------------------- Fim Rodapé -------------------- */