/* ----- Cabeçalho -----*/

header {
	display: flex;
	padding-left: 40px;
	padding-top: 20px;
	padding-bottom: 15px;
	padding-right: 30px;
	background-image: url(../assets/img/fundo-header-4_6.png);
}

#divFaixa{
	background-color: rgb(118,1, 19); 
	height: 30px;
	display: block;
	width: 100%;
	box-shadow: -4px 4px 4px -3px black;
}

nav {
	display: inline-block;
	margin-left: auto;
	margin-top: auto;
}

.btnNav {
	text-decoration: none;
	font-family: lobster;
	font-size: 3vh;
	margin-left: 2.5vh;
	color: rgb(118,1, 19);
}

/* ---------------------*/



/* ----- Rodapé -----*/

footer {
	padding-left: 20px;
	padding-bottom: 20px;
	padding-top: 85px;
	margin-top: 100px;
	background-color: rgb(72, 15, 24);
}

/* ------------------*/


