body {
	margin: 0;
	padding: 0;
	background-color: rgba(133, 46, 17, 0.062);
}

main {
	margin: auto;
	width: 76%;
	margin-top: 70px;
}

/* --------- PESQUISA ---------- */

.divPesq{
	text-align: right;
	margin-bottom: 30px;
}

#btnPesq {
	background-color: transparent;
	border: 0px;
	float: right;
}

#inputPesq {
	background-color: transparent;
	padding-left: 5px;
	font-style: italic;
	font-size: 18px;
	border: 1px solid lightgray;
	border-radius: 10px;
	height: 32px;
	width: 260px;
	margin-right: -34px;
	margin-top: -2px;
}

/* ------------------------------ */

/* --------- CARROSSEL --------- */
.slider {
	margin: auto;
	width: 100%;
	height: 60%;
	/*[overflow: hidden;] -> faz aparecer só o que tá delimitado no tamanho da div*/
	overflow: hidden;
}

.slides {
	width: 400%;
	height: 60%;
	display: flex;
}

.slides input {
	display: none;
}

.slide {
	width: 25%;
	position: relative;
	transition: 2s;
}

.slide img {
	width: 100%;
}

.manual-navigation {
	position: absolute;
	width: 76%;
	margin-top: -40px;
	display: flex;
	justify-content: center;
}

.manual-btn {
	border: 2px solid #FFF;
	padding: 5px;
	border-radius: 10px;
	cursor: pointer;
	transition: 0.8s;
}

.manual-btn:not(:last-child) {
	margin-right: 3vh;
}

.manual-btn:hover {
	background-color: #FFF;
}

/*_Passa os slides*/
#radio1:checked~.first {
	margin-left: 0;
}

#radio2:checked~.first {
	margin-left: -25%;
}

#radio3:checked~.first {
	margin-left: -50%;
}

#radio4:checked~.first {
	margin-left: -75%;
}

/*_Fim passa os slides*/

.navigation-auto div {
	border: 2px solid rgb(184, 72, 72);
	padding: 5px;
	border-radius: 10px;
	cursor: pointer;
	transition: 0.8s;
}

.navigation-auto {
	position: absolute;
	width: 76%;
	margin-top: 348px;
	display: flex;
	justify-content: center;
}

.navigation-auto div:not(:last-child) {
	margin-right: 3vh;
}

/*_Quando esse radio tiver ativo o fundo dele será branco e se repete nos outros*/
#radio1:checked~.navigation-auto .auto-btn1 {
	background-color: #FFF;
}

#radio2:checked~.navigation-auto .auto-btn2 {
	background-color: #FFF;
}

#radio3:checked~.navigation-auto .auto-btn3 {
	background-color: #FFF;
}

#radio4:checked~.navigation-auto .auto-btn4 {
	background-color: #FFF;
}

/* ------- Fim Carrossel ------- */

/* --------- QUEM SOMOS --------- */

/* ------- Fim quem somos ------- */


/* --------- SUGESTÕES --------- */
#divConteinerSuges {
	display: flex;
	width: 100%;
}

.divCardSuges {
	margin-right: 1.5vh;
	box-shadow: 1px 1px 1px 1px black;
	text-align: center;
}

/* ------- Fim Sugestões ------- */

/* --------- ENVIE --------- */

/* ------- Fim envie ------- */





/* ----- Fontes -----*/
@font-face {
	font-family: conserta;
	src: url(../assets/fontes/Conserta.ttf);
}

/* ------------------ */