body {
	margin: 0;
	padding: 0;
	background-color: rgba(133, 46, 17, 0.062);
}

main {
	margin: auto;
	width: 76%;
	margin-top: 60px;
}

.divSubFlex {
	display: flex;
}

.divSubCenter {
	text-align: center;
}

/* --------- PESQUISA ---------- */

.divPesq {
	text-align: right;
	margin-bottom: 25px;
}

#btnPesq {
	background-color: transparent;
	border: 0px;
	float: right;
}

#inputPesq {
	background-color: transparent;
	padding-left: 5px;
	font-family: marhey;
	font-size: 18px;
	border: 2px solid rgb(117, 117, 117);
	border-radius: 10px;
	height: 32px;
	width: 260px;
	margin-right: -34px;
	margin-top: -2px;
}

/* ------------------------------ */


/* --------- CARROSSEL --------- */
.slider {
	margin: auto;
	width: 100%;
	height: 60%;
	/*[overflow: hidden;] -> faz aparecer só o que tá delimitado no tamanho da div*/
	overflow: hidden;
}

.slides {
	width: 400%;
	height: 60%;
	display: flex;
}

.slides input {
	display: none;
}

.slide {
	width: 25%;
	position: relative;
	transition: 2s;
}

.slide img {
	width: 100%;
}

.manual-navigation {
	position: absolute;
	width: 76%;
	margin-top: -40px;
	display: flex;
	justify-content: center;
}

.manual-btn {
	border: 2px solid #FFF;
	padding: 5px;
	border-radius: 10px;
	cursor: pointer;
	transition: 0.8s;
}

.manual-btn:not(:last-child) {
	margin-right: 3vh;
}

.manual-btn:hover {
	background-color: #FFF;
}


/*_Passa os slides*/
#radio1:checked~.first {
	margin-left: 0;
}

#radio2:checked~.first {
	margin-left: -25%;
}

#radio3:checked~.first {
	margin-left: -50%;
}

#radio4:checked~.first {
	margin-left: -75%;
}


/*_Fim passa os slides*/

.navigation-auto div {
	border: 2px solid rgb(184, 72, 72);
	padding: 5px;
	border-radius: 10px;
	cursor: pointer;
	transition: 0.8s;
}

.navigation-auto {
	position: absolute;
	width: 76%;
	margin-top: 348px;
	display: flex;
	justify-content: center;
}

.navigation-auto div:not(:last-child) {
	margin-right: 3vh;
}


/*_Quando esse radio tiver ativo o fundo dele será branco e se repete nos outros*/
#radio1:checked~.navigation-auto .auto-btn1 {
	background-color: #FFF;
}

#radio2:checked~.navigation-auto .auto-btn2 {
	background-color: #FFF;
}

#radio3:checked~.navigation-auto .auto-btn3 {
	background-color: #FFF;
}

#radio4:checked~.navigation-auto .auto-btn4 {
	background-color: #FFF;
}

/* ------- Fim Carrossel ------- */



/* --------- QUEM SOMOS --------- */

.divQuemSomos {
	width: 100%;
	height: 80vh;
	background-image: url(../assets/img/fundo-QuemSomos-versao-2.png);
	overflow: hidden;
	margin-top: -10px;
	padding-top: 0;
}

.divQuemSomos h2 {
	color: rgb(118, 1, 19);
	font-family: corinthia-regular;
	font-weight: bold;
	font-size: 7.8vh;
	margin-left: 20px;
	margin-top: 7px;
}

.divQuemSomos p {
	color: rgb(51, 41, 43);
	font-family: 'Times New Roman', Times, serif;
	font-style: italic;
	font-weight: bold;
	font-size: 2.8vh;
	margin-left: 50px;
	margin-top: 7px;
}

.divQuemSomos img {
	margin-right: 30px;
}

/* ------- Fim quem somos ------- */



/* --------- SUGESTÕES --------- */
.divConteinerSuges {
	display: flex;
	width: 100%;
	height: 50vh;
	padding-top: 30px;
	padding-bottom: 30px;
	background-color: rgba(108, 53, 29, 0.77);
}

.divCardSuges {
	margin-right: auto;
	margin-left: auto;
	box-shadow: 1px 1px 1px 1px rgb(17, 17, 17);
	text-align: center;
	width: 30%;
	background-color: rgb(237, 226, 226);
}

.divCardSugesInterno {
	border: 2px dashed rgba(58, 45, 40, 0.961);
	margin: 10px;
	height: 87%;
}


.divCardSugesInterno p {
	margin-left: 5%;
	margin-right: 5%;
}

.divCardSugesInterno h3 {
	font-family: conserta;
	font-size: 28px;
	margin-bottom: 0px;
	margin-top: 1.5vh;
}

/* ------- Fim Sugestões ------- */


/* --------- ENVIE --------- */

.divEnvieHist {
	/*background-color: rgba(203, 181, 178, 0.404);*/
	background-image: url(../assets/img/fundo-Enviar.png);
	width: 100%;
	height: 81vh;
	text-align: right;
	margin-top: -50px;
}

.divEnvieHist h2 {
	color: rgb(118, 1, 19);
	font-family: corinthia-regular;
	font-weight: bold;
	font-size: 7.8vh;
	margin-right: 20px;

}

.divEnvieHist p {
	color: rgb(51, 41, 43);
	font-family: 'Times New Roman', Times, serif;
	font-style: italic;
	font-weight: bold;
	font-size: 2.8vh;
	margin-top: 7px;
	margin-right: 50px;
}

.divEnvieHist img {
	margin-top: -4vh;
	margin-left: 7vh;
}


.divEnvieHist button {
	margin-top: 30px;
	font-family: riesling;
	font-size: 4.5vh;
	border-radius: 5px;
	border: 2px solid rgba(58, 45, 40, 0.961);
	box-shadow: 1px 1px 1px 1px rgb(17, 17, 17);
}

/* ------- Fim envie ------- */





/* ----- Fontes -----*/
@font-face {
	font-family: conserta;
	src: url(../assets/fontes/Conserta.ttf);
}

@font-face {
	font-family: cookie;
	src: url(../assets/fontes/Cookie-Regular.ttf);
}

@font-face {
	font-family: corinthia-bold;
	src: url(../assets/fontes/Corinthia-Bold.ttf);
}

@font-face {
	font-family: corinthia-regular;
	src: url(../assets/fontes/Corinthia-Regular.ttf);
}

@font-face {
	font-family: lobster;
	src: url(../assets/fontes/Lobster-Regular.ttf);
}

@font-face {
	font-family: marhey;
	src: url(../assets/fontes/Marhey-VariableFont_wght.ttf);
}

@font-face {
	font-family: riesling;
	src: url(../assets/fontes/riesling.ttf);
}

@font-face {
	font-family: yaquote;
	src: url(../assets/fontes/YaquoteScriptPersonalUse-opOq.ttf);
}

/* ------------------ */