body {
	margin: 0;
	padding: 0;
	background-color: rgba(150, 141, 139, 0.062);
}

main {
	margin: auto;
	width: 88%;
	/*Largura da parte central*/
	margin-top: 6.5vh;
}

.divSubFlex {
	display: flex;
}

/* --------- PESQUISA ---------- */
form {
	display: flex;
	margin-left: 78%;
	border: 2px solid rgb(117, 117, 117);
	border-radius: 10px;
	padding: 2px;
	transition: 0.5s;
	margin-bottom: 25px;
}

.inpPesq {
	width: 90%;
	background-color: rgba(0, 0, 0, 0);
	border: 0px;
	transition: 0.5s;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	font-size: 2.2vh;
	-webkit-appearance: none;
}

#btnPesq {
	background-color: transparent;
	border: 0px;
}

/*deixa transparente o botão de cancelar do input de pesquisa */
::-webkit-search-cancel-button {
	opacity: 0;
	cursor: pointer;
}

/* animações dessa parte */
.inpPesq:focus {
	/* deixa transparente a borda do input de pesquisa ao digitar nela */
	box-shadow: 0 0 0 0;
	outline: 0;
}

form:hover {
	/* borda div pesquisa */
	border: 2px solid rgb(67, 43, 43);
	transform: scale(1.05);
}

/* ------- Fim Pesquisa ------- */


/* --------- CARROSSEL --------- */

/* texto do slide */

.imgSlid {
	position: absolute;
}

.infoSlide {
	position: absolute;
	text-decoration: none;
	margin-left: 5vh;
	margin-top: 29vh;
}

.classtitSlide {
	color: #FFF;
	font-size: 6.2vh;
	text-shadow: 2px 2px 5px rgb(39, 36, 36);
	margin-bottom: -2vh;
	width: fit-content;
	font-weight: lighter;
	border-bottom: 6px solid rgb(143, 2, 23);
	font-family: engebrechtre;
}

.classMancheteSlide {
	color: #FFF;
	font-size: 3.1vh;
	border-left: 4px solid rgb(143, 2, 23);
	padding-left: 1vh;
	width: 80%;
	margin-top: 0px;
	font-family: Tahoma, sans-serif,Verdana, Geneva;
}

/* -------------- */

.slider {
	margin: auto;
	width: 100%;
	height: 65%;
	overflow: hidden;
	/* [overflow: hidden;] -> faz aparecer só o que tá delimitado no tamanho da div */
}

.slides {
	width: 400%;
	height: 60%;
	display: flex;
}

.slides input {
	display: none;
}

.slide {
	width: 25%;
	position: relative;
	transition: 2s;
}

.slide img {
	width: 100%;
}

.manual-navigation {
	position: absolute;
	width: 88%;
	margin-top: 30.7%;
	display: flex;
	justify-content: center;
}

.manual-btn {
	border: 2px solid #FFF;
	padding: 5px;
	border-radius: 10px;
	cursor: pointer;
	transition: 0.8s;
}

.manual-btn:not(:last-child) {
	margin-right: 3vh;
}

.manual-btn:hover {
	background-color: #FFF;
}

/*_Passa os slides*/
#radio1:checked~.first {
	margin-left: 0;
}

#radio2:checked~.first {
	margin-left: -25%;
}

#radio3:checked~.first {
	margin-left: -50%;
}

#radio4:checked~.first {
	margin-left: -75%;
}

/*_Fim passa os slides*/

.navigation-auto div {
	border: 2px solid rgb(184, 72, 72);
	padding: 5px;
	border-radius: 10px;
	cursor: pointer;
	transition: 0.8s;
}

.navigation-auto {
	position: absolute;
	width: 88%;
	margin-top: 30.89%;
	display: flex;
	justify-content: center;
}

.navigation-auto div:not(:last-child) {
	margin-right: 3vh;
}

/*_Quando esse radio tiver ativo o fundo dele será branco e se repete nos outros*/
#radio1:checked~.navigation-auto .auto-btn1 {
	background-color: #FFF;
}

#radio2:checked~.navigation-auto .auto-btn2 {
	background-color: #FFF;
}

#radio3:checked~.navigation-auto .auto-btn3 {
	background-color: #FFF;
}

#radio4:checked~.navigation-auto .auto-btn4 {
	background-color: #FFF;
}

/* ------- Fim Carrossel ------- */



/* --------- QUEM SOMOS --------- */

.divQuemSomos {
	width: 100%;
	height: 80vh;
	background-image: url(../assets/img/fundo-QuemSomos-versao-2.png);
	overflow: hidden;
	margin-top: -10px;
	padding-top: 0;
	background-position: 5%;
}

.divQuemSomos h2 {
	color: rgb(118, 1, 19);
	font-family: corinthia-regular;
	font-weight: bold;
	font-size: 9vh;
	margin-left: 30px;
	margin-top: 30px;
}

.divQuemSomos p {
	color: rgb(51, 41, 43);
	font-family: 'Times New Roman', Times, serif;
	font-style: italic;
	font-weight: bold;
	font-size: 2.8vh;
	margin-left: 50px;
	margin-top: -30px;
}

.divQuemSomos img {
	margin-right: 7vh;
	margin-top: 5.5vh;
}

/* ------- Fim quem somos ------- */



/* --------- SUGESTÕES --------- */
.divSuges {
	background-color: rgba(108, 53, 29, 0.77);
	text-align: center;
	padding-top: 1px;
}

.divSuges h2 {
	font-family: laborUnion, sans-serif, Verdana, Geneva, Tahoma;
	font-size: 5vh;
	color: rgb(46, 31, 34)
}

.divConteinerSuges {
	display: flex;
	width: 100%;
	height: 60vh;
	padding-top: 7px;
	padding-bottom: 60px;
}

.divCardSuges {
	margin-right: auto;
	margin-left: auto;
	box-shadow: 1px 1px 1px 1px rgb(17, 17, 17);
	text-align: center;
	width: 25%;
	height: 59vh;
	background-color: rgb(237, 226, 226);
	transition: 0.5s;
}

.divCardSuges a {
	font-family: lobster;
	font-size: 2.3vh;
	color: rgb(124, 27, 41);
}

.divCardSugesInterno {
	border: 2px dashed rgba(58, 45, 40, 0.961);
	margin: 10px;
	height: 87%;
}


.divCardSugesInterno p {
	margin-left: 5%;
	margin-right: 5%;
	font-family: 'Times New Roman', Times, serif;
	font-size: 2.7vh;
	color: rgb(66, 9, 21);
}

.divCardSugesInterno h3 {
	font-family: souciSans;
	font-weight: bolder;
	font-size: 3.5vh;
	margin-bottom: 3px;
	margin-top: 1.8vh;
	color: rgb(56, 34, 37);
}

/* animações dessa parte */
.divCardSuges:hover {
	transform: scale(1.1);
}

/* ------- Fim Sugestões ------- */


/* --------- ENVIE --------- */

.divEnvieHist {
	/*background-color: rgba(203, 181, 178, 0.404);*/
	background-image: url(../assets/img/fundo-Enviar.png);
	width: 100%;
	height: 85vh;
	text-align: right;
	margin-top: -30px;
}

.divEnvieHist p {
	color: rgb(51, 41, 43);
	font-family: 'Times New Roman', Times, serif;
	font-style: italic;
	font-weight: bold;
	font-size: 2.8vh;
	margin-top: -2.9vh;
	margin-right: 5vh;
}

.divEnvieHist img {
	margin-top: -20px;
	margin-left: 60px;
	margin-bottom: 15vh;
}

#btnEnviar {
	font-family: riesling;
	font-size: 4.5vh;
	border-radius: 5px;
	border: 2px solid rgba(58, 45, 40, 0.961);
	box-shadow: 1px 1px 1px 1px rgb(17, 17, 17);
	transition: 1s ease-in-out;
	margin-top: 2vh;
	margin-right: 6vh;
}

.divEnvieHist h2 {
	color: rgb(118, 1, 19);
	font-family: fancyPantsNF;
	font-size: 3vw;
	margin-right: 5vh;
	margin-top: 30px;
	position: relative;
	display: inline-block;
	font-weight: normal;
	letter-spacing: 1.5px;
}

/* animações dessa parte */
#btnEnviar:hover {
	transform: scale(1.1);
}

/* ------- Fim envie ------- */



/* ----- Fontes -----*/

@font-face {
	font-family: souciSans;
	src: url(../assets/fontes/SouciSansNF.ttf);
}

@font-face {
	font-family: laborUnion;
	src: url(../assets/fontes/LaborUnion-Regular.otf);
}

@font-face {
	font-family: corinthia-bold;
	src: url(../assets/fontes/Corinthia-Bold.ttf);
}

@font-face {
	font-family: corinthia-regular;
	src: url(../assets/fontes/Corinthia-Regular.ttf);
}

@font-face {
	font-family: lobster;
	src: url(../assets/fontes/Lobster-Regular.ttf);
}

@font-face {
	font-family: riesling;
	src: url(../assets/fontes/riesling.ttf);
}

@font-face {
	font-family: engebrechtre;
	src: url(../assets/fontes/engebrechtre.ttf);
}

@font-face {
	font-family: fancyPantsNF;
	src: url(../assets/fontes/FancyPantsNF.ttf);
}

/* ------------------ */