div {
    display: block;
}

body {
    background-color: rgba(150, 141, 139, 0.062); 
    box-sizing: border-box;
    min-height: 100vh;
}

/*Formatação do texto em recuperar senha*/
p{
    font-family: 'Times New Roman', Times, serif;
    font-size: 25px;
    color:rgb(82, 81, 81);
    font-style: italic;
	font-weight: bold;
}

/*Formatação do formulario, tamanho, cor, borda...*/
form {
    display: flex;
    flex-direction: column;
    border-radius: 3px;
    background-color: #FFFFFF;
    box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.3);
    padding: 40px 40px;
    max-width: 450px;
    margin: 0 auto;
  }

/*Formatação do título redefinir e recuperar senha*/
.titulo{
    font-family: lobster;
    font-weight: bolder;
    text-align: center;
    font-size: 50px;
    color: rgb(118,1, 19);
}

/*Formatação do título redefinir e recuperar senha*/
.div_titulo {
    max-width: 1200px;
    margin: 0 auto;
}

.div_form {
    max-width: 1400px;
    margin: 0 auto;
}
/*Formatação dos campos*/
.input_form {
    padding: 20px 20px 20px 20px;
    width:400px;
    color:black;
    border: solid 3px rgb(72, 15, 24); 
    border-radius: 10px;
    font-size: 18px;
}

/*Formatação dos títulos dos campos*/
.label_form {
    font-family: 'Times New Roman', Times, serif;
    font-size: 25px;
    color:rgb(118,1, 19);
    font-style: italic;
	font-weight: bold;
}

/*Espaço entre campo de email e texto no recuperar senha*/
div.espaco_pla{
    padding: 10px;
}

/*Formatação do botão de receber email*/
#botao1 {
    width: 300px ;
    text-align: center;
    cursor: pointer;
    padding: 15px 15px 15px  15px;
    font-size: 20px;
    margin-left: 78px;
    background-color: rgba(118, 1, 19, 0.694);
    border: 1px solid  rgba(118, 1, 19, 0.694);
    color:ghostwhite;
    border-radius: 10px;
    transition: 0.4s ease-in-out;
}

/*Animação do botão receber email*/
#botao1:hover {
    transform: scale(1.1);
    background-color: rgb(118, 1, 19);
    }

/*Formatação do botão cadastrar*/
#botao2 {
    width: 300px ;
    text-align: center;
    cursor: pointer;
    padding: 15px 15px 15px  15px;
    font-size: 20px;
    margin-left: 78px;
    background-color: rgba(118, 1, 19, 0.694) ;
    border: 1px solid rgba(118, 1, 19, 0.694);
    color:ghostwhite;
    border-radius: 10px;
    transition: 0.4s ease-in-out;
}

/*Animação do botão cadastrar*/
#botao2:hover {
transform: scale(1.1);
background-color: rgb(118, 1, 19);
}

.espaco {
  padding:  100px;
}

/* fontes */
@font-face {
	font-family: corinthia-regular;
	src: url(../assets/fontes/Corinthia-Regular.ttf);
}

@font-face {
	font-family: lobster;
	src: url(../assets/fontes/Lobster-Regular.ttf);
}
@font-face {
	font-family: corinthia-regular;
	src: url(../assets/fontes/Corinthia-Regular.ttf);
}