body {
	margin: 0px;
	padding: 0px;
	background-color: rgba(231, 224, 218, 0.394);
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

main {
	margin: 20px;
}

.conteiner {
	display: flex;
}

aside {
	flex: 1;
	text-align: center;
	height: 100vh;
}

/*Parte principal da publicação*/
.conteiner-topo {
	text-align: center;
}

.conteiner-topo img {
	border: 2px solid rgb(72, 15, 24);
	padding: 15px;
}

h1 {
	font-size: 7vh;
	font-weight: 400;
	margin: 40px 0px 20px 0px;
}

.contePubli {
	flex: 7;
}

.contePubli p {
	text-align: justify;
}

#manchete {
	font-size: 3.5vh;
	color: #343434;
	font-weight: 600;
	font-style: italic;
	margin: 0;
}

.contePubli h5 {
	font-size: 2.5vh;
	color: #484848;
	font-weight: 500;
	margin: 0;
}

.contePubli h4 {
	font-size: 2.5vh;
	color: #484848;
	font-weight: 500;
	margin: 0;
	font-style: italic;
	text-align: right;
}

.contePubli h3 {
	font-size: 2.8vh;
	font-weight: 500;
}

#interacoes ul {
	list-style: none;
	width: min-content;
	margin-left: auto;
	margin-right: auto;
}

#interacoes ul li {
	margin-bottom: 25px;
	border: 2px #150101 solid;
	border-radius: 80px;
	width: 60px;
	height: 60px;
	display: flex;
	align-items: center;
	justify-content: center;
	transition: 0.5s ease-in-out;
}

#interacoes ul li:hover {
	transform: scale(1.2);
	cursor: pointer;
}

#interacoes ul li img {
	width: 42px;
	text-align: center;
	margin: 0;
	padding: 0;
}

ol {
	margin-top: 60px;
	list-style: none;
}

ol li {
	margin-bottom: 10px;
}

ol li a {
	text-decoration: none;
	color: #150101;
	font-weight: 500;
}

ol li a:hover {
	text-decoration: underline;
	color: #410505;
}

/*fim parte principal da publicação*/

/*Parte interações[favoritar, compartilhar e salvar]*/

/*fim parte interações[favoritar, compartilhar e salvar]*/

/*Âncoras*/
/*fim âncoras*/

/*div comentario-veja mais*/
.comentario-vejaMais {
	display: flex;
}

/*fim div comentario-veja mais*/

/*Comentários*/
.comentario {
	flex: 9;
	margin: 120px 0 0 0;
}

.comentario h2 {
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	font-size: xx-large;
	font-weight: 800;
}

.comentario form {
	margin: 2vh 0 0 0.5vw;
	width: min-content;
	margin-right: auto;
	padding: 10px;
	display: flex;
    border-radius: 20px;
    transition: 0.5s linear;
    padding: 10px;
    justify-content: space-between;
    align-items: center;
}

.comentario form:hover {
	border: 2px solid rgb(118, 1, 19);
	transform: scale(1.01);
}

.comentario form img {
	border: 2px solid #410505;
	border-radius: 50%;
	margin-bottom: auto;
}

.comentario form textarea {
	font-size: 16px;
	color: #000;
	display: block;
	font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
	background-color: rgba(251, 251, 251, 0.844);
	border: 1px solid #410505;
	border-radius: 10px;
	padding: 5px;
}

.comentario form textarea::-webkit-scrollbar {
	display: none;
}

.comentario form input {
	margin: 10px 0 auto 5px;
	color: #150101;
	font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
	font-size: 12px;
	font-weight: 500;
	letter-spacing: 1px;
	padding: 5px;
	border-radius: 7px;
	font-weight: bolder;
	border: 2px solid #3f0303;
}

#btnCan {
	background-color: transparent;
	transition: 0.5s;
}

#btnCan:hover {
	transform: scale(1.05);
	cursor: pointer;
}

#btnPub {
	background-color: #ffffff5b;
	font-size: 14px;
	transition: 0.5s;
	padding: 7px;
}

#btnPub:hover {
	transform: scale(1.1);
	cursor: pointer;
}

.conteiner-coment-sub {
	margin-top: 60px;
	text-align: right;
}

.comentario ol li{
	list-style: none;
	font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
	margin: 0 80px 0 40px;
	display: flex;
	margin-bottom: 20px;
}

.comentario ol li h4{
	margin: 0;
	padding: 0;
}

.comentario ol li p{
	margin: 0;
	padding: 0;
}

.comentario ol li button{
	margin-top: 7px;
	border: none;
	background-color: transparent;
	text-decoration: underline;
	font-size: 14px;
	transition: 0.8s linear;
	transition: 0.3s ease-in;
}

.comentario ol li button:hover{
	color: #b25050;
	transform: scale(1.05);
	cursor: pointer;
}

/*fim comentários*/

/*Veja mais*/
article {
	margin-left: auto;
	flex: 2;
	text-align: center;
	margin-top: 80px;
	border: 2px solid rgba(141, 0, 21);
	padding: 10px;
	height: min-content;
}

.comentario-vejaMais h2 {
	font-family: souciSans, sans-serif, Verdana, Geneva, Tahoma;
	margin: 0;
}

.card-suges {
	margin: 30px 10px 10px 10px;
	padding: 10px 20px 20px 20px;
	border: 1px solid rgba(99, 7, 19, 0.427);
	-webkit-box-shadow: 15px 15px 10px -13px rgba(99, 7, 9, 0.45);
	-moz-box-shadow: 15px 15px 10px -13px rgba(99, 7, 9, 0.45);
	box-shadow: 15px 15px 10px -13px rgba(99, 7, 9, 0.45);
	transition: 0.5s;
}

.card-suges:hover {
	transform: scale(1.08);
}

.card-suges a h3 {
	margin: 0 0 10px 0;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	font-weight: 400;
	text-decoration: none;
}

.card-suges a {
	text-decoration: none;
	color: #121010;
}

.card-suges a:hover {
	text-decoration: underline;
}

.card-suges img {
	width: 100%;
}

/*fim veja mais*/

.fixarInter{
	top: 20vh;
	position: fixed;
	z-index: 1;
	margin-left: 1.3vw;
	transition: 0.5s linear;
}

/* tags */
.tags{
	display: flex;
	list-style: none;
	margin: 2vh auto 0 -2vw;
}

.tags li{
	display: flex;
	margin-left: 5px;
	background-color: lightgrey;
	padding: 2px;
	border-radius: 8px;
}
/* fim tags*/

/* ---- fontes ---- */
@font-face {
	/* souciSans */
	font-family: souciSans;
	src: url(../assets/fontes/SouciSansNF.ttf);
}